/* Media queries for responsiveness */
@media only screen and (max-width: 480px) {
  .m-all {
    width: 100% !important; }

  .track_info p {
    padding: 2em 0em !important; }

  .byline {
    text-align: justify !important; }

  .album_art {
    border-radius: 25px;
    overflow: hidden;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    top: 50%;
    width: 50px; }

  .track_info {
    font-size: 80%; } }
@media only screen and (min-width: 481px) and (max-width: 779px) {
  .m-all {
    width: 100% !important; }

  .album_art {
    border-radius: 32px;
    overflow: hidden;
    height: 64px;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    position: relative;
    top: 50%;
    width: 64px; } }
@media only screen and (min-width: 780px) {
  .d-1of2 {
    width: 50%;
    margin: 0 auto; }

  .d-1of3 {
    width: 33%;
    float: left; }

  .d-all {
    width: 100% !important; }

  .album_art {
    border-radius: 32px;
    overflow: hidden;
    height: 64px;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    position: relative;
    top: 50%;
    width: 64px; } }
.wrap {
  width: 96%;
  margin: 0 auto; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  background: #222; }

.welcome {
  font-size: 2em;
  text-transform: lowercase;
  padding: 1em 0em; }

header {
  background: #D15959;
  width: 100%;
  margin-bottom: 3em; }

.inner-header {
  padding: 3em 5em 4em 5em; }

.byline {
  font-family: "motor",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em;
  color: white;
  margin: 0;
  text-align: center;
  text-transform: uppercase; }

h1, h2, h3 {
  color: #fff;
  font-family: "atrament-web",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  padding-bottom: 20px;
  margin: 0; }

p {
  color: #fff;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: justify; }

#about {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 4em;
  font-size: 1.2em; }

a {
  color: #75bffc; }

h1 {
  font-size: 4em;
  text-transform: uppercase; }

h2 {
  font-size: 2.5em;
  font-family: "brandon-grotesque",sans-serif;
  letter-spacing: -1px; }

h3 {
  font-size: 1.2em;
  color: #D15959;
  text-transform: uppercase; }

/***********************************
THE OL' JUKEBOX
***********************************/
.player {
  border-radius: 0 !important;
  border: none !important; }

.column {
  width: 25%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  float: left;
  text-decoration: none; }

.columns {
  height: auto; }

.juke-header {
  background-color: #fff;
  height: 30px;
  list-style: none outside none;
  text-align: center;
  text-transform: lowercase; }
  .juke-header li p {
    margin: 0; }

.music_player {
  display: inline-block;
  opacity: 1;
  width: 75% !important;
  height: inherit;
  z-index: 20;
  float: right;
  vertical-align: top; }

.track:nth-child(even) .track_info {
  background-color: white !important; }

.juke {
  overflow-y: scroll;
  margin-bottom: 2em;
  border-radius: 3px; }
  .juke .track {
    background-color: #ECF0F1;
    overflow: hidden;
    cursor: pointer;
    z-index: 10;
    height: 80px;
    position: relative;
    height: 80px; }
    .juke .track h3 {
      font-family: "soleil",sans-serif;
      font-size: 1.3em;
      font-weight: 700;
      margin: 0;
      opacity: 0;
      text-align: center;
      position: relative;
      top: 50%;
      margin-top: -12px;
      color: white;
      -webkit-transform: translateX(500px);
      transform: translateX(500px); }
    .juke .track .track_info {
      opacity: 1 !important;
      width: 25%;
      height: inherit;
      display: inline-block;
      vertical-align: top;
      text-transform: capitalize;
      padding: 0em 8px; }
    .juke .track.spotiplay h3 {
      opacity: 1; }
    .juke .track.spotipause .track_info {
      opacity: 1 !important;
      width: 25%;
      height: inherit;
      display: inline-block;
      vertical-align: top; }
    .juke .track .art {
      height: 80px;
      width: 25%;
      background-color: #ECF0F1; }
    .juke .track p, .juke .track div {
      display: inline-block;
      vertical-align: top; }
    .juke .track .track_info {
      background-color: #ECF0F1;
      height: inherit;
      width: 25%;
      /* Vertical aligning like a #BADA55 */ }
      .juke .track .track_info p {
        color: #555;
        font-family: "brandon-grotesque",sans-serif;
        font-size: 1em;
        font-style: normal;
        font-weight: 400;
        overflow: hidden;
        position: relative;
        text-align: center;
        text-overflow: ellipsis;
        width: 100%;
        height: 80px;
        line-height: normal;
        margin: 0;
        padding: 1.2em 0em; }
      .juke .track .track_info p:after {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
